<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Lessonid</th>
      <th>Lesson title</th>
      <th>Lesson desc</th>
      <th>Lesson price</th>
      <th>Image url</th>
      <th>Lesson category</th>
      <th>Lesson level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.lessonID %></td>
        <td><%= lesson.lesson_title %></td>
        <td><%= lesson.lesson_desc %></td>
        <td><%= lesson.lesson_price %></td>
        <td><%= lesson.image_url %></td>
        <td><%= lesson.lesson_category %></td>
        <td><%= lesson.lesson_level %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
